<div class="col-md-6">
  <div class="container">
    <h1>Welcome to Constituent Connect</h1>
        <%= link_to "Register Your Office", signup_path, class: "btn btn-primary" %><br><br>
        <%= link_to "New User Sign Up", new_user_path, class: "btn btn-primary" %>
  </div>
</div>

