<h2>Add Call</h2>

<form role="form">
  <%= form_for @call, url: {action: "create"}, html: {class: "form-control"} do |f| %>

    <div class="form-group">
      <%= f.text_field :phone_number, placeholder: "Phone Number (123-456-7890)" %><br>
    </div>

    <div class="form-group">
      <%= f.text_field :category, placeholder: "Category" %><br>
    </div>

    <!-- Problem entering sub-category -->

    <div class="form-group">
      <%= f.submit "Add Call" %>
    </div>
  <% end %>
</form>