<div class="title">
  <h1>CALL DASHBOARD</h1>
</div>

<div ng-app="Dashboard">
  <form>
    <div ng-controller="addCallController">
      <div class="col-md-4">
        <h3>Add Call</h3>
          <input type="text" class="form-control" ng-model="phoneNum" placeholder="Phone Number (i.e. 123-4566-7890)"><br>
          <input type="text" class="form-control" ng-model="category" placeholder="Category"><br>
          <input type="text" class="form-control" ng-model="subCategory" placeholder="Sub-Category"><br>
          <input type="text" class="form-control" ng-model="forOrAgainst" placeholder="For or Against"><br>
          {{ phoneNum }}<br>
          {{ category }}<br>
          {{ subCategory }}<br>
          {{ forOrAgainst }}<br>
          <input type="submit" value="Add">
      </div>  
    </div>
  </form>

  <div class="col-md-4">
  </div>

  <div ng-controller="callLogController">
    <p> {{ 4 + 6 }}</p>
    <div class="col-md-4">
      <div class="container-fluid recent-calls">
        <h3>Recent Calls</h3>
        <ul>
          <li ng-repeat='call in calls'> 
            {{ call.category }} 
          </li>
        </ul>
      </div>
    </div>
  </div>  
</div>

<!-- 
<div class="col-md-4">
  <div class="container-fluid recent-calls">
    <h3>Recent Calls</h3>
    <ul>
      @calls.each do |call| %>
        <li> call.category.category %></li>
        <li> number_to_phone(call.phone_number) %></li>
       end %>
    </ul>
  </div>
</div> 
-->
