<div class="title">
  <h1>CALL DASHBOARD</h1>
</div>

<div ng-app="Dashboard">
  <div class="col-md-4">
    <div ng-controller="AddCallController">
      <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(call)" novalidate>
        <h3>Add Call</h3>
          <input type="text" class="form-control" ng-model="reviewCtrl.review.phoneNum" required placeholder="Phone Number (i.e. 123-4566-7890)"><br>
          <input type="text" class="form-control" ng-model="reviewCtrl.review.category" required placeholder="Category"><br>
          <input type="text" class="form-control" ng-model="reviewCtrl.review.subCategory" placeholder="Sub-Category"><br>
          <select ng-model="reviewCtrl.review.position" required>
            <option value="In Favor Of">In Favor Of</option>
            <option value="Opposed">Opposed</option>
          </select><br><br>
          <blockquote>
            <b>Phone:</b>  {{ reviewCtrl.review.phoneNum}}<br>
            <b>Category:</b>  {{ reviewCtrl.review.category }}<br>
            <b>Sub-Category:</b>  {{ reviewCtrl.review.subCategory}}<br>
            <b>Position:</b>  {{ reviewCtrl.review.position}}<br>
          </blockquote>
          <button class="btn btn-primary" ng-click="addCall()">Submit</button>
        </form>
    </div>  
  </div>


  <div class="col-md-2">
  </div>

  <div ng-controller="CallLogControllerTest as log">
    <div class="col-md-6">
      <div class="container-fluid recent-calls">
        <section ng-init="tab = 1" ng-controller="PanelController as panel">
          <ul class="nav nav-pills">
            <li ng-class="{ active: panel.isSelected(1) }"> 
              <a href ng-click="panel.selectTab(1)">Calls</a> 
            </li>
            <li ng-class="{ active: panel.isSelected(2) }">
              <a href ng-click="panel.selectTab(2)">Bills</a> 
            </li>
            <li ng-class="{ active: panel.isSelected(3) }"> 
              <a href ng-click="panel.selectTab(3)">Caller</a>
            </li>
          </ul>
        <h3 ng-show="panel.isSelected(1)">Recent Calls</h3>
        <h3 ng-show="panel.isSelected(2)">Active Bills</h3>
        <h3 ng-show="panel.isSelected(3)">Caller Info</h3>
        <h1>{{test}}</h1>
        <div class="panel" ng-show="panel.isSelected(1)">          
          <ul class="list-group" ng-repeat="call in calls | limitTo:10">
            <li class="list-group-item">
              <b>{{call.category}}</b><br>
              {{call.sub_category}}<br>
              <em>{{call.created_at | date:'MM/dd/yyyy @ h:mma'}}</em>
            </li>
          </ul>
        </div>

        <div class="panel" ng-show="panel.isSelected(2)">
          <h2>Active Bills</h2>
            <table id="bills" class="table table-bordered">
              <tr>
                <th>Bill Number</th>
                <th>Short Title</th>
                <th>Official Title</th>
              </tr>
            </table>
        </div>
        <div class="form" ng-show="panel.isSelected(3)">
          <input type="text" class="form-control" ng-model="reviewCtrl.review.phoneNum" required placeholder="Phone Number"><br>
          <input type="text" class="form-control" ng-model="reviewCtrl.review.category" required placeholder="Name"><br>
          <input type="text" class="form-control" ng-model="reviewCtrl.review.subCategory" placeholder="E-mail"><br>
          <input type="text" class="form-control" ng-model="reviewCtrl.review.subCategory" placeholder="City"><br>
          <button class="btn btn-primary" ng-click="saveCaller()">Save</button>
        </div>
        </section>
      </div>
    </div>
  </div>     
  
</div>

