<div class="title">
  <h1>CALL DASHBOARD</h1>
</div>

<div ng-app="Dashboard">
  <form>
    <div ng-controller="addCallController">
      <div class="col-md-4">
        <h3>Add Call</h3>
          <input type="text" class="form-control" ng-model="phoneNum" placeholder="Phone Number (i.e. 123-4566-7890)"><br>
          <input type="text" class="form-control" ng-model="category" placeholder="Category"><br>
          <input type="text" class="form-control" ng-model="subCategory" placeholder="Sub-Category"><br>
          <input type="text" class="form-control" ng-model="forOrAgainst" placeholder="For or Against"><br>
          {{ phoneNum }}<br>
          {{ category }}<br>
          {{ subCategory }}<br>
          {{ forOrAgainst }}<br>
          <input type="submit" value="Add">
      </div>  
    </div>
  </form>

  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <div class="container-fluid recent-calls">
      <div ng-controller="CallLogControllerTest as log">
        <h3>Recent Calls TEST</h3>
        <p> {{ 4 + 6 }}</p>
        <ul class="list-group">
          <div ng-repeat="call in log.calls | limitTo:10"> 
            <li class="list-group-item"> 
              {{ call.category }}<br>
              {{ call.phoneNumber}}
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>  

  <div ng-controller="CallLogController as call">
    <div class="col-md-4">
      <div class="container-fluid recent-calls">
        <h3>Recent Calls </h3>
        <p> {{ 4 + 6 }} </p>
        <ul>
          <li ng-repeat='call in callLog'> 
            {{ test.category }} 
          </li>
        </ul>
      </div>
    </div>
  </div>  

   
  
</div>
