<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New User Signed Up</h1>
    <p>
      User <%= @user.name %> (<%= @user.email %>) has just signed up. Login at <%= @url %> to approve this user.<br>
    </p>
    
  </body>
</html>