<div class="title">
  <h1>DASHBOARD</h1>
</div>

<div ng-app>
  <div class="col-md-8">
    <h3>Add Call</h3>
      <p>Type in the input box.</p>
      <input type="text" class="form-control" ng-model="myText">
      {{ myText }}
  </div>  
</div>

<div class="col-md-4">
  <div class="container-fluid recent-calls">
    <h3>Recent Calls</h3>
    <ul>
      <% @calls.each do |call| %>
        <!-- Print div -->
        <li><%= call.category.category %></li>
        <li><%= number_to_phone(call.phone_number.phone_number) %></li>
      <% end %>
    </ul>
  </div>
</div>  






