
.recent-calls {
  background-color: #BCBCBC;
  border-radius: 10px;
  min-height: 80%;
  height: auto;
  margin-bottom: 10%;
}

.recent-calls ul {
  list-style: none;
}

.ng-invalid.ng-dirty {
  border-collor: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}

